body {
  margin: 0 auto;
  font-family: 'Helvetica' sans-serif;
  background-image: url('http://www.avsforum.com/forum/imagehosting/31795561508d703529.jpg');
  background-repeat: no-repeat;
  background-position: cover;
}

.buttons {
  text-align: center;
  display: inline-block;
  margin: 100px 0 0 20px;
  padding: 10px;
  a {
    text-decoration: none;
    // text-transform: uppercase;
    font-weight: 800;
    background: #461B74;
    border: 2px solid #C27216;
    color: #C27216;
    padding: 20px;
    margin: 150px 10px;
    border-radius: 5px;
    font-size: 2em;
    transition: color .3s ease;
    &:hover{
      color: #D22E1C;
      transition: color .5s ease;
    }
  }
  h2 {
    color: #461B74;
    font-size: 4em;
    margin: 0 20px 0 0;
  }
  ul {
    list-style-type:decimal;
    margin-left: 90px;
    li {
      color: #461B74;
      font-size: 2em;
      font-weight: 800;
      text-align: left;
    }
  }
  p {
    color: #461B74;
    margin-left: 50px;
    font-size: 2em;
    font-weight: 800;
    text-align: left;
  }
  h1 {
    color: #C27216;
    font-size: 5em;
    text-align: center;
    // display: block;
    margin-left: 25px;
    margin-top: 0;
    background: #461B74;
    padding: 30px;
    border-radius: 5px;
    border: 2px solid #C27216;
  }
  a.player {
    margin-left: 30px;
  }
  a.home {
    margin-top: 150px;
    display: block;
    margin-bottom: 0;
  }
}
